filebeat:
  filebeat.prospectors:
    - input_type: log
      multiline:
        pattern: '^([[:space:]]|#|Stack trace:|Next exception)'
        negate: false
        match: after
      paths:
        - /var/log/content-tools/*.log
  fields:
    env: staging
    server_role: content-tools-api
  output.logstash:
    hosts:
      - '10.107.229.73:5043'
      - '10.107.217.26:5043'
    index: content-staging-
